$color-orange: #ff9000 !default;
$color-orange-light: #ffa366 !default;
$color-orange-deep: #f29100 !default;
$color-success: #08b302 !default;
$color-white: #fff !default;
$color-red: #d41d0a !default;
$color-blue: #158ce6 !default;

$color-333: #333 !default;
$color-666: #666 !default;
$color-999: #999 !default;
$color-ccc: #ccc !default;
$color-ddd: #ddd !default;
$color-f7f7f7: #f7f7f7 !default;
$color-d9d9d9: #d9d9d9 !default;
$color-f0f0f0: #f0f0f0 !default;
$color-f1f1f1: #f1f1f1 !default;

$link-color: #1890ff; // 链接色
$success-color: #f6ffee; // 成功色
$success-border-color: #bced96; // 成功色
$info-color: #e6f7ff; // 默认色
$info-border-color: #b3e3ff; // 默认色
$warning-color: #fffbe6; // 警告色
$warning-border-color: #fee58f; // 警告色
$error-color: #fff1f0; // 错误色
$error-border-color: #ffa39e; // 错误色
$error-font-color: #f82c2c; // 错误色
$font-size-base: 14px; // 主字号
$heading-color: rgba(0, 0, 0, 0.85); // 标题色
$text-color: rgba(0, 0, 0, 0.65); // 主文本色
$text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
$disabled-color: rgba(0, 0, 0, 0.25); // 失效色
$border-radius-base: 4px; // 组件/浮层圆角
$border-color-base: #ddd; // 边框色
$box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // 浮层阴影
