$font-yahei: 'Microsoft YaHei' !default;
$font-simsun: 'SimSun' !default;

$font-size-sm: 12px !default;
$font-size-base: 14px !default;
$font-size-md: 16px !default;
$font-size-lg: 18px !default;
$font-size-xl: 22px !default;
