@import '../../src/styles/import';

ul.nm-story {
  display: flex;
  flex-wrap: wrap;

  li {
    border: 1px dashed transparent;
    border-radius: 5px;
    height: 105px;
    margin: 15px 13px;
    overflow: visible;
    position: relative;
    text-align: center;
    width: 100px;

    &:hover {
      background: rgba(0, 0, 0, 0.12);

      &::after {
        color: #2795ee;
        content: '点击复制';
      }
    }

    &:active {
      &::after {
        color: #5fba7d;
        content: '复制成功';
      }
    }
  }

  span {
    color: rgb(102, 102, 102);
    display: block;
    font-size: $font-size-sm;
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}