@import '../../styles/import';

$icon-prefix: #{$prefix}-icon;


.#{icon-prefix} {
    background-size: cover;
    fill: currentColor;

    &-sm {
        height: 12px;
        width: 12px;
    }

    &-md {
        height: 14px;
        width: 14px;
    }

    &-lg {
        height: 16px;
        width: 16px;
    }

    &-file {
        height: 68px;
        width: 78px;
    }
}

.nm-sub-icon {
    // color: @primary-3;
    opacity: 0.2;
}

.nm-icon-polygon {
    fill: none;
    stroke-width: 1.5
}