@import '../../styles/import';

$register-prefix: #{$prefix}-register;

.#{$register-prefix} {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;
    background: rgba(246, 248, 250, 1);

    &-container {
        padding-top: 200px;
        margin: 0 auto 100px;
        width: 380px;
    }

    &-header {
        text-align: center;

        &-logo {
            max-width: 100%;
        }

        &-title {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #999;
            margin: 20px auto 30px;
        }
    }

    &-main {
        width: 380px;
        // height: 497px;
        padding: 16px 30px 20px;
        background: #fff;
        box-shadow: 0px 0px 60px 0px rgba(0, 45, 90, 0.08);
        border-radius: 8px;

        .ant-tabs-bar {
            margin: 0 0 26px 0
        }
    }

    &-extra {
        text-align: right;

        a {
            color: #999;
            font-size: 14px;
        }
    }


    &-btn {
        width: 320px;
        line-height: 42px;
        height: 42px;
        font-size: 16px;
    }

    &-img-code {
        position: absolute;
        top: -12px;
        right: 0;

        .ant-btn-link {
            padding: 0;
        }
    }

    &-form {

        input:-internal-autofill-previewed,
        input:-internal-autofill-selected,
        textarea:-internal-autofill-previewed,
        textarea:-internal-autofill-selected,
        select:-internal-autofill-previewed,
        select:-internal-autofill-selected {
            font-size: 14px !important;
            color: #333 !important;
            transition: background-color 5000s ease-in-out 0s !important;
            background-color: #fff !important;
        }

        input {
            font-size: 14px !important;
            border: 0;
            outline: 0;
            box-shadow: none;
            border-bottom: 1px solid #ECECEC;
        }

        .ant-input {
            padding: 0 0 15px;
            height: 37px;
        }

        .ant-input:focus,
        .ant-input-password:focus {
            box-shadow: none !important;
        }
    }
}