@import '../../styles/import';

$footer-prefix: #{$prefix}-footer;

.#{$footer-prefix} {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #999;
    text-align: center;
    // background: #fff;
    padding: 10px 0;


    &-sm {
        font-size: 14px;
    }

    &-md {
        font-size: 16px;
    }

    &-lg {
        font-size: 18px;
    }
}


@media (max-height: 900px) {
    .#{$footer-prefix} {
        position: static;
    }
}