@import '../../styles/import';

$login-prefix: #{$prefix}-login;

.#{$login-prefix} {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;
    background: rgba(246, 248, 250, 1);

    &-container {
        padding-top: 200px;
        margin: 0 auto 100px;
        width: 380px;
    }

    &-header {
        text-align: center;

        &-logo {
            max-width: 100%;
        }

        &-title {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #999;
            margin: 20px auto 30px;
        }
    }

    &-main {
        position: relative;
        width: 380px;
        // height: 497px;
        padding: 28px 30px 20px;
        background: #fff;
        box-shadow: 0px 0px 60px 0px rgba(0, 45, 90, 0.08);
        border-radius: 8px;

        .ant-tabs-nav-scroll {
            display: flex;
            justify-content: center;
        }

        .ant-tabs-nav .ant-tabs-tab {
            position: relative;
            margin: 0 20px;
            transition: all .3s;
            font-size: 16px;
            font-weight: 400;
            color: #666;

            &::after {
                content: '';
                display: block;
                position: relative;
                top: 10px;
                margin: 0 auto;
                width: 50px;
                height: 2px;
                background: #333;
                visibility: hidden;
            }
        }

        .ant-tabs-nav .ant-tabs-tab-active {
            color: #333;
            font-weight: 600;

            &::after {
                visibility: visible;
            }
        }

        .ant-tabs-ink-bar {
            display: none !important;
        }
    }

    &-qr-code {
        position: absolute;
        right: 10px;
        top: 10px;
        display: block;
        cursor: pointer;
        width: 50px;
        height: 50px;
        background: url('https://fileserver.paat.com/410/410cd7de40257b76ed8004b74dd8f74a.png') no-repeat center;
        background-size: cover;
    }

    &-qr-customer {
        background-image: url('https://fileserver.paat.com/7f3/7f355c45b45406ff77eb3afb792e0823.png');
    }

    &-extra {
        text-align: right;

        a {
            color: #999;
            font-size: 14px;
        }
    }

    &-wechat,
    &-customer {
        transition: all .4s;
        overflow: hidden;
        background: #fff;
        height: 0;
        opacity: 0;

        &-show {
            height: auto;
            overflow: auto;
            opacity: 1;
        }
    }
}